%h2
  %a{:href => result["fields"]["url"][0]}= result["fields"]["title"][0]

%div.hansard_reference= result["fields"]["hansard_ref"][0]

- if result["highlight"]
  %p= result["highlight"]["text"].join("... ")