!!!
%html(lang = "en-GB")
  %head
    %meta{charset: "utf-8"}
    %title Hansard Search
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "/css/bootstrap.min.css"}
  %body{style: "padding:3%;"}
    .container
      .row
        .col-md-8
          =yield
    %script{src: "/js/jquery.min.js"}
    %script{src: "/js/bootstrap.min.js"}
    